<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>National Parks and Biodiversity in the USA</title>

    <!-- delete the bootstrap if we don't use it-->

    <!-- Boostrap Stylesheet -->
    <!--<link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen"> -->

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" media="screen">

  </head>

  <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid navbar-custom">
                <div class="row">
                    <div class="navbar-header">
                    
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="col-xs-9 phone-nav">
                        <a class="navbar-brand" href="#" id="logo">Home</a>
                    </div>
                    </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-right-custom">

                    <a href="/parks" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Parks</a>
                    <a href="/species" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Species</a>
                
                
                </ul>
            </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container-fluid -->
            
        </nav>

        <div class="container">
            <section class="row">
                <div class="col-md-8">
                <article class="description-parks-content">
                    <h1 class="description-parks-header">Parks Title</h1>
                    <p>Blah blah blah.</p>
                    <p>Blah blah blah.</p>
                    <hr class="description-parks-hr"/>
                    <div id="main_images">
                        <a href="/parks"><img src="Resources/Images/parks_main.png" alt="National Parks in the USA" class="imageNav-photo"></a> 
                    </div>
                    
                    
                </article>
                </div>
                <div class="col-md-4">
        
                <!-- Start of Visualizations imageNav Area -->
                <section id="description-species-content">
                    <article class="description-species-content">
                        <h1 class="description-species-header">Species Header</h1>
                        <p>Blah blah blah.</p>
                        <p>Blah blah blah.</p>
                        <hr class="description-species-hr"/>
                        <div id="main_images">
                            <a href="/species"><img src="Resources/Images/species_main.png" alt="Species in USA Parks" class="imageNav-photo"></a> 
                        </div>
                        
                        
                    </article>
                </section>
                <!-- End of the Visualizations imageNav Area -->
        
                </div>
            </section>

        </div>

        <footer class="footer navbar-fixed-bottom">
            <div class="two-toned-footer-color"></div>
            <p class="text-muted text-muted-footer text-center">
              &copy; Copyright Group 4
            </p>
          </footer>
          <!-- End of footer -->
        
          <!-- jQuery CDN -->
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        
          <!-- Bootstrap CDN -->
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    
    </body>

  
    

</html>
