<!DOCTYPE html>
<html lang="en-us">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <title>Species page</title>
    
        <!-- delete the bootstrap if we don't use it-->
    
        <!-- Boostrap Stylesheet -->
        <!--<link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen"> -->
    
        <!-- Our own CSS stylesheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" media="screen">
        <script src="https://d3js.org/d3.v5.min.js"></script>

        <!-- Leaflet JavaScript code -->
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>

        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid navbar-custom">
                <div class="row">
                    <div class="navbar-header">
                    
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
        
                        <div class="col-xs-9 phone-nav">
                            <a class="navbar-brand" href="/" id="logo">Home</a>
                        </div>
                    </div>
               </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right navbar-right-custom">

                        <a href="/parks" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Parks</a>
                        <a href="/species" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Species</a>
                    
                    
                    </ul>
                </div><!-- /.navbar-collapse -->
           
            </div><!-- /.container-fluid -->
            
        </nav>

        <div id="map-id"></div>
            

        <footer class="footer navbar-fixed-bottom">
            <div class="two-toned-footer-color"></div>
            <p class="text-muted text-muted-footer text-center">
              &copy; Copyright Group 4
            </p>
          </footer>
          <!-- End of footer -->
        
     <!-- JavaScript be careful we might have to change this-->
      <!-- jQuery CDN -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            
      <!-- Bootstrap CDN -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


            

      <!-- Our JavaScript file -->
      <script type="text/javascript" src="static/js/logic.js"></script>
    
    </body>



      

</html>

